<!DOCTYPE html>

<html>
<head>
	<title>Liste des notes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

	{% for flashMessage in app.session.flashBag.get('error') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}


</head>
<body>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
	<div class="jumbotron">
		<h1>Liste des notes</h1>
		<a href = "{{ path('newNote')}}"><button type"button" class="btn btn-primary">Ajouter une note</button></a>
		<a href = "{{ path('newCategorie')}}"><button type"button" class="btn btn-primary">Ajouter une catégorie</button></a>
		<a href = "{{ path('ShowCategorie')}}"><button type"button" class="btn btn-warning">Afficher les catégories</button></a>

		 {{ form_start(form, {'attr': {'class':'form-inline'}}) }}
        {{ form_label(form.tag, 'Tag',
            {'label_attr': { 'class': 'sr-only' }}) }}
        {{ form_widget(form.tag,
                { 'attr': {'class': 'form-control nav-item'}} ) }}
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit,
            { 'attr': {'class': 'navbar-btn btn btn-primary
        nav-item'}} ) }}
        {{ form_end(form) }}


	{% for note in notes %}
		<div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title"><h3><b>{{note.title}}</b></h3></h2>
              {{note.categorie.nom}} - 
              {{note.date|date('d/m/Y')}}

			</div>
            <div class="panel-body">
            	 {{note.content}} <br></br>
            	<a href = "{{ path('deleteNote',  {'id': note.id})}}"><button type"button" class="btn btn-danger">Supprimer la note</button></a>
				<a href = "{{ path('modifyNote',  {'id': note.id})}}"><button type"button" class="btn btn-primary">Modifier la note</button></a>
			</div>	
    	</div>


		
		
	{% endfor %}	
	
	</div>
	<div class="col-md-1"></div>
	</div>

	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>
</html>

