<!DOCTYPE html>

<html>
<head>
	<script src="{{ asset('js/jquery.min.js') }}"></script>

	<script>
		function wrapText(elementID, openTag, closeTag) {
 		var textArea = $('#' + elementID);
 		var len = textArea.val().length;
 		var start = textArea[0].selectionStart;
 		var end = textArea[0].selectionEnd;
 		var selectedText = textArea.val().substring(start, end);
 		var replacement = openTag + selectedText + closeTag;
 		textArea.val(textArea.val().substring(0, start) + replacement +
		textArea.val().substring(end, len));
		}
		
	</script>

	<title>Modifier la note </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

	{% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>
<body>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<div class="jumbotron">
		<h1>Ajouter la note </h1>
	</div>

	<div>
		{{ form(form) }}
		<a href = "{{ path('home')}}">
			<button class="btn btn-primary">Annuler</button>
		</a>
		<button class="btn btn-primary" onClick='wrapText("form_content", "<tag>", "</tag>")'>Ajouter un tag</button>
	 </div>
	</div>

	</div>
	<div class="col-md-1"></div>
	</div>
	
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>


